@import '../../../assets/styles/setup/variables';

.app-header {
    background-color: $nav;
    padding-block: 10px;
    padding-inline: 20px;
    color: $white;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        img{
            width: 40px;
        }
        .active{ 
            transform: (1.25);
            border-bottom: 3px solid  $gold;
        }
    }
}
