<google-chart [title]="chartMarketPrice.title" [type]="chartMarketPrice.type" [data]="chartMarketPrice.data"
    [height]="500" [width]="1000" [options]="chartMarketPrice.options"></google-chart>

<google-chart [title]="chartTransactions.title" [type]="chartTransactions.type" [data]="chartTransactions.data"
    [height]="500" [width]="1000" [options]="chartTransactions.options"></google-chart>


<!-- [title]="chart.title" 
[type]="chart.type"
[data]="chart.data"
[columns]="chart.columnNames"
[options]="chart.options" -->