<div *ngIf="user" class="home-page">
    <div class="data">
        <p class="title">Hi <span>{{user.name}}</span>!</p>
        <div class="title-container">
            <img src='./../../assets/img/coins.png' />
            <p>Coins {{user.coins}}!</p>
        </div>
        <!-- <p>Hello {{user$.name|async}}!</p> -->
        <!-- <p>Coins: {{user$.coins|async}}</p> -->
        <div class="title-container">
            <img src='./../../assets/img/bitcoin.png' />
            <p>BTC: {{btc$|async}}</p>
        </div>
        <button class="primary-btn" (click)="onLogout()">Logout</button>
    </div>
    <move-list [movesToDisplay]="movesToDisplay" [title]="title"></move-list>
</div>
<div *ngIf="!user">
    <signup-page></signup-page>
</div>