<div *ngIf="contact && user" class="contact-details">
    <div class="contact">
        <img src="https://robohash.org/{{contact._id}}?set=set5" />
        <div class="contact-info">
            <p>Name: {{contact.name}}</p>
            <p>E-mail: {{contact.email}}</p>
            <p>Phone: {{contact.phone}}</p>
            <img class="icon back" title="Back" src='./../../assets/img/back.png' alt="" (click)="onBack()" />
            <img class="icon trash" title="Delete" src='./../../assets/img/delete.png' alt="" (click)="onDelete()" />
            <a [routerLink]="['/contacts',contact._id, 'edit']"><img class="icon pen" alt="" title="Edit"
                    src='./../../assets/img/edit.png' /></a>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div>
        <transfer-fund [contact]="contact" [amount]="amount" (onTransfer)="onTransfer($event)"></transfer-fund>
        <move-list [movesToDisplay]="movesToDisplay" [title]="title"></move-list>
    </div>
</div>
<div>
</div>