// Colors
// $font: #172b4d;
$font: #222831;
$groupGrey: #ebecf0;
$modalBgc: #f4f5f7;
$gold: #cfaa01;
$nav: #222831;
$white: #fff;

$clr1: #d20c5f;
$clr2: #b1d3dd;
$clr3: #95adbe;
$clr4: #e2e0e0;
$clr5: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
