<div class="screen">
  <div class="contact-edit">
    <form *ngIf="contact" (ngSubmit)="onSaveContact()">
      <label for="name">Name</label>
      <input id="name" type="text" [(ngModel)]="contact.name" name="name">
      <label for="email">E-mail</label>
      <input id="email" type="string" [(ngModel)]="contact.email" name="email">
      <label for="phone">Phone</label>
      <input id="phone" type="string" [(ngModel)]="contact.phone" name="phone">
      <button class="primary-btn">Save</button>
    </form>
  </div>
</div>