@import "../../../assets/styles/setup/variables";

.contact-edit {
    border-radius: 5px;
    background-color: #98ccfd;
    // margin-inline-end: calc(100vw - 200px);
    // right:30%;
    // top:10%;
    width: 400px;
    position: absolute;
    z-index: 20;
    form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        input {
            margin-block-end: 5px;
            &:hover {
                border-color: $nav;
            }
        }
        button {
            margin-block-start: 5px;
            width: 100px;
        }
    }
}

.screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: rgba(0, 0, 0, 0.64);
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
